body {
    font-family: Georgia, serif;
    font-size: 18px;
    background-image: url('https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?w=900&t=st=1677585973~exp=1677586573~hmac=6e456235efeb3d1acfcc801ca58a31bf69631981cf79eba7da98a2692922e4be');
    background-size: cover;
 } 
  img {
    width: 600px;
    margin: 20px;
  }
  .image {
    display: flex;
    justify-content: space-between;
  }